/*
pic-cols is number of collumns, about 60px each
margin-spc is margin for each picture, should be about (10vw/pic-cols/2)
*/

:root{
    --pic-cols: 4;
    --margin-spc: 1.25vw;
}

#Gallery{
    width: 90vw;
    height: 84vh;
    margin-bottom: calc(80vw/var(--pic-cols)*2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-top: var(--margin-spc);
}

#Gallery::-webkit-scrollbar{
    display: none;
}

.galleryFrame{
    display: flex;
    justify-content: center;
    margin: var(--margin-spc);
}

.galleryImage{
    height:100%;
    width: auto;
}

.tallImage{
    width: calc(80vw/var(--pic-cols));
    height: calc(80vw/var(--pic-cols)*2);
}

.squareImage{
    width: calc(80vw/var(--pic-cols)*2);
    height: calc(80vw/var(--pic-cols)*2);
}

@media (min-width: 600px) {
    :root{
        --pic-cols: 6;
        --margin-spc: .825vw;
    }
  }