#Header{
    height: 12vh;
    margin-bottom: 1vh;
}
#HeaderArea{
    display: flex;
    height: 100%;
    width: 75%;
    background-color: rgb(10, 10, 10);
}
#HeaderArea::after{
    content: '';
    position: absolute;
    left: 75%;
    height: 0px;
    width: 0px;
    background-color: unset;
    border-left: 0px solid transparent;
    border-right: 15vw solid transparent;
    border-bottom: 12vh solid rgb(10, 10, 10);
    border-bottom-right-radius: 6px;

}
#WebName{
    align-self: center;
    margin-left: 5vw;
    font-size: 4vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}